<mat-toolbar color="primary">
  <span>Process Dicom by Ramtin Movahed Rad</span>
</mat-toolbar>



<div class="container">
  <div class="progress">

  </div>
  <input type="file" class="file-input" [accept]="requiredFileType" (change)="onFileSelected($event)" #fileUpload>
  <div class="file-upload">
    <p class="file-upload-text" (click)="fileUpload.click()">
      {{fileName || "No file uploaded yet."}}
    </p>
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
  <button mat-flat-button color="accent" (click)="upload()" *ngIf="file && file.size > 0">Upload</button>
</div>
